/* Resetando algumas configurações padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo geral da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

/* Título */
h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Estilo do formulário de senha */
#passwordForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 0 auto;
}

#passwordForm label {
    margin-bottom: 10px;
    font-size: 16px;
    color: #555;
}

#passwordForm input {
    padding: 10px;
    font-size: 14px;
    width: 80%;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#passwordForm button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#passwordForm button:hover {
    background-color: #45a049;
}

/* Estilo para os filtros */
#filters {
    display: flex;
    flex-direction: column; /* Coloca os elementos em uma coluna */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    height: 100%; /* Garante que o contêiner ocupe a altura total da tela */
    margin-top: 20px;
}


#filters input,
#filters select,
#filters button {
    padding: 10px;
    font-size: 14px;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#filters button {
    background-color: #2196F3;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#filters button:hover {
    background-color: #1976D2;
}

/* Estilo para o conteúdo do histórico */
/* Estilo para o conteúdo do histórico */
#historyContent {
    margin-top: 40px;
    text-align: center;
}

#historyList {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
}



/* Botão de voltar */
#backBtn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#backBtn:hover {
    background-color: #e53935;
}
